body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.hero-section {
    background: linear-gradient(135deg, #004d26, #007d4f);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero-content {
    margin-top: 50px;
}

.hero-content h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.hero-content span {
    text-decoration: underline;
}

.btn-primary {
    background-color: white;
    color: #004d26;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.services-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #f8f8f8;
    flex-wrap: wrap;
}

.service-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 22%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin: 10px 0;
}

.service-card h3 {
    color: #4b2e83;
}

.reasons-section {
    text-align: center;
    padding: 40px;
}

.reasons-section h2 {
    font-size: 1.8rem;
}

.reasons-section span {
    color: #4b2e83;
    font-weight: bold;
}

.reasons-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.reason-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    width: 30%;
    margin: 10px 0;
}

.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.additional-info img {
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.info-text {
    text-align: left;
    max-width: 40%;
}

.btn-secondary {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

footer {
    background-color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-section {
    flex: 1;
    margin: 20px;
}

footer .footer-logo {
    max-width: 240px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #968EEB;
}

footer p {
    color: #333;
}

h2 {
    font-size: 24px;
    margin: 20px;
    text-align: center;
}

.highlight {
    color: #7e57c2;
    font-weight: bold;
}

section {
    margin: 40px 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.images {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
}

.large-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.small-images {
    display: flex;
    gap: 10px;
}

.small-images img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7e57c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5e3da1;
}

.saiba-mais {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Cores específicas para cada card */
.saude {
    color: #E668B3; /* Cor para Saúde */
}

.entretenimento {
    color: #A07CC5; /* Cor para Entretenimento */
}

.comunidade {
    color: #F78B77; /* Cor para Comunidade */
}

.previdencia {
    color: #45C4A0; /* Cor para Previdência */
}

@media (max-width: 768px) {
    .services-section, .reasons-cards, .content {
        flex-direction: column;
        align-items: center;
    }

    .service-card, .reason-card, .info-text, .text, .images img {
        width: 100%;
        margin: 10px 0;
    }
}
